.button_type_add {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 150px;
  padding: 14px 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

@media screen and (max-width: 1279px) {
  .button_type_add {
    width: 88.125%;
    padding: 15px 0;
  }
}
